{% if tools_grammar %}
    {{- '<|im_start|>assistant\n' }}
    {{- 'You are an assistant. You output in JSON format. The key "tool_calls" is a list of possible tools. For each tool, the format is {name, arguments}. You can use the following tools:' }}
    {% for tool in tools_grammar %}
        {% if not loop.last %}
            {{- tool }}
        {% else %}
            {{- tool + '<|im_end|>' }}
        {% endif %}
    {% endfor %}
{% endif %}

{% for message in messages %}
    {% if (loop.last and add_generation_prompt) or not loop.last %}
        {{- '<|im_start|>' + message['role'] + '\n' + message['content'] + '<|im_end|>\n' }}
    {% else %}
        {{- '<|im_start|>' + message['role'] + '\n' + message['content'] }}
    {% endif %}
{% endfor %}
{% if add_generation_prompt and messages[-1]['role'] != 'assistant' %}
    {{- '<|im_start|>assistant' }}
{% endif %}