name: Iron Docker Push

on:
  release:
    types: [published]

jobs:
  iron_docker_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push docker
        uses: docker/build-push-action@v6
        with:
          build-args: ROS_DISTRO=iron
          push: true
          tags: mgons/llama_ros:iron-${{ github.event.release.tag_name }}
